__pycache__/
*.py[cod]
*$py.class

*.env
saved_key.json

.DS_Store
Thumbs.db

.idea
server/*
temp_src
src

# Ignore the sounds folder in the root directory
/sounds/
# But allow the sounds folder in dist
!/dist/sounds/

# Ignore requirements.txt in the root directory
/requirements.txt

# But allow requirements.txt in dist
!/dist/requirements.txt

.pyarmor_capsule.zip
.pyarmor_license.txt