*.env
saved_key.json

.DS_Store
Thumbs.db

.idea
server/*
temp_src
src
venv
server

/sounds/
!/dist/sounds/
/secret_detection_stuff/

/requirements.txt
!/dist/requirements.txt

*.pyc
!/dist/**/*.pyc
tests/**/*.pyc
tempCodeRunnerFile.py
__pycache__/